In [6]:
import pandas as pd
import io

In [2]:
url = 'https://raw.githubusercontent.com/alura-cursos/1576-mlops-machine-learning/aula-5/casas.csv'
df = pd.read_csv(url)

In [3]:
df.head()

   tamanho   ano  garagem   preco
0    159.0  2003        2  208500
1    117.0  1976        2  181500
2    166.0  2001        2  223500
3    160.0  1915        3  140000
4    204.0  2000        3  250000

In [5]:
df.shape

(1460, 4)

In [8]:
colunas = ['tamanho', 'preco']
df = df[colunas]

In [9]:
df.head()

   tamanho   preco
0    159.0  208500
1    117.0  181500
2    166.0  223500
3    160.0  140000
4    204.0  250000

In [21]:
X = df.drop('preco', axis=1)
y = df['preco']

In [24]:
from sklearn.model_selection import train_test_split

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [26]:
X_train.head()

      tamanho
135     156.0
1452    100.0
762     144.0
932     177.0
435     154.0

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:


modelo = LinearRegression()
modelo.fit(X_train,y_train)

LinearRegression()

In [29]:
modelo.coef_

array([1084.75077747])

In [30]:
modelo.intercept_

27206.968559934932

In [32]:
modelo.predict([[150]])

c:\Users\marcu\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([189919.58518054])