#  <b>1 Introdução</b>

In [22]:
import pandas as pd
#dica para visualização
# pd.set_option('display.max_rows', 600)
pd.set_option('display.max_columns', 10)

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')
dataset

In [24]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [25]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <b> 2 tuplas</b>

In [29]:
nome_carros = ("Jetta", "Passat",("Fusca", "Gol", "C4"))
nome_carros[-1][2]

'C4'

* resolução exercício

In [31]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)
carros[0][3]
carros[-1][-1][-1]
carros[0][-1][:2]

'Freios ABS'

In [37]:
nome_carros = ("Jetta", "Passat","Fusca", "Gol", "C4")
for carro in nome_carros:
    print(carro)

carro_1, carro_2, carro_3, carro_4, carro_5 = nome_carros

Jetta
Passat
Fusca
Gol
C4

* Atribuindo e ignorando carros

In [42]:
_, A, _, B, _= nome_carros
A

'Passat'

 ### <b> Zip  </b>

In [6]:
nome_carros = ("Jetta", "Passat","Fusca", "Gol", "C4")
valores = (200000, 60563, 25000, 69000, 10000)

In [47]:
zip(nome_carros, valores)
list(zip(nome_carros, valores))

[('Jetta', 200000),
 ('Passat', 60563),
 ('Fusca', 25000),
 ('Gol', 69000),
 ('C4', 10000)]

* Exercício

In [57]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

# <b> 3 Dicionários </b>

In [3]:
dados = {'Fusca' : 80450, 'Gol' : 69000, 'Passat' : 587400}
dados

{'Fusca': 80450, 'Gol': 69000, 'Passat': 587400}

In [8]:
dados_1 = dict(zip(nome_carros, valores))
dados_1

{'Jetta': 200000, 'Passat': 60563, 'Fusca': 25000, 'Gol': 69000, 'C4': 10000}

### Operando nos dicionários

Consultando dado no dic

In [10]:
dados['Passat']

587400

In [13]:
dados['Fiesta'] = 63555
dados

{'Fusca': 80450, 'Gol': 69000, 'Passat': 587400, 'Fiesta': 63555}

In [16]:
del dados ['Fusca']
dados

{'Gol': 69000, 'Fiesta': 63555}

In [22]:
dados.update({'Passat': 60563})
dados

dados.update({'Passat': 80003, 'Fusca': 56600})
dados

{'Gol': 69000, 'Fiesta': 63555, 'Passat': 80003, 'Fusca': 56600}

In [26]:
dadosCopy = dados.copy()
dadosCopy.update({'Saveiro': 65000})
dadosCopy

{'Gol': 69000,
 'Fiesta': 63555,
 'Passat': 80003,
 'Fusca': 56600,
 'Saveiro': 65000}

In [ ]:
dadosCopy.pop('Passat')

In [35]:
dadosCopy.pop("Passat", "Dados não encontrado")

'Dados não encontrado'

In [36]:
dadosCopy.clear()

Interação com dicionários

In [39]:
dados.keys()

dict_keys(['Gol', 'Fiesta', 'Passat', 'Fusca'])

In [44]:
for key in dados.keys():
    print(dados[key])

69000
63555
80003
56600

In [46]:
dados.values()

dict_values([69000, 63555, 80003, 56600])

In [47]:
dados.items()

dict_items([('Gol', 69000), ('Fiesta', 63555), ('Passat', 80003), ('Fusca', 56600)])

In [49]:
for item in dados.items():
    print(item)

('Gol', 69000)
('Fiesta', 63555)
('Passat', 80003)
('Fusca', 56600)

In [51]:
for key, values in dados.items():
    print(key, values)

Gol 69000
Fiesta 63555
Passat 80003
Fusca 56600

In [57]:
for key, values in dados.items():
    if values >60000:
        print(key)

Gol
Fiesta
Passat

#### Exercício
- Selecione a alternativa que apresenta o código que imprime somente os nomes dos veículos com ano de fabricação maior ou igual a 2000.

In [68]:
dado = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}
for item in dado.items():
    if item[1]['ano']>= 2000:
        print(item[0])

Crossfox
DS5
Jetta

# <b> 4 Funções</b>