# <b>Introdução</b>

In [22]:
import pandas as pd
#dica para visualização
# pd.set_option('display.max_rows', 600)
pd.set_option('display.max_columns', 10)

In [ ]:
dataset = pd.read_csv('db.csv', sep = ';')
dataset

In [24]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [25]:
dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [26]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <b>Tuplas</b>

In [29]:
nome_carros = ("Jetta", "Passat",("Fusca", "Gol", "C4"))
nome_carros[-1][2]

'C4'

* resolução exercício

In [31]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)
carros[0][3]
carros[-1][-1][-1]
carros[0][-1][:2]

'Freios ABS'

In [37]:
nome_carros = ("Jetta", "Passat","Fusca", "Gol", "C4")
for carro in nome_carros:
    print(carro)

carro_1, carro_2, carro_3, carro_4, carro_5 = nome_carros

Jetta
Passat
Fusca
Gol
C4

* Atribuindo e ignorando carros

In [42]:
_, A, _, B, _= nome_carros
A

'Passat'

 # <b> Zip  </b>

In [49]:
nome_carros = ("Jetta", "Passat","Fusca", "Gol", "C4")
valores = (200000, 60563, 25000, 69000, 10000)

In [47]:
zip(nome_carros, valores)
list(zip(nome_carros, valores))

[('Jetta', 200000),
 ('Passat', 60563),
 ('Fusca', 25000),
 ('Gol', 69000),
 ('C4', 10000)]

* Exercício

In [57]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS