# Relátorio de Análise VI

### Criando novas variáveis

Retornamos para o nosso projeto principal neste curso de Pandas. Recebemos uma nova demanda da seguradora: precisamos criar novas variáveis para o conjunto de dados. Um das variáveis abrigará o valor bruto do aluguel; outra que armazena o valor com base no metrô quadrado de um imóvel e, por fim, uma nova variável de tipo que agregue casas e apartamentos.

In [2]:
import pandas as pd

In [6]:
dados = pd.read_csv('dados/aluguel_resdiencial.csv',sep = ';')

In [8]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0

In [10]:
#Criando valor bruto
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0

In [13]:
#criando valor por m^2
dados['Valor m2'] = dados['Valor'] / dados['Area']
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.500000
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.000000
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.333333
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.666667
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.000000
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.857143
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.629630
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.076923
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.166667
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.857143

A formatação pode ficar pouco elegante devido à quantidade de casas decimais. Para resolvermos esse problema utilizaremos o método round(), que em tradução livre significa "arredondar":

In [14]:
#arredondando para duas casas decimais
dados['Valor m2'] = dados['Valor m2'].round(2)
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00
...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86

Nosso próximo passo é criar uma variável para o valor do bruto do metro quadrado(Valor Bruto m2), então, escreveremos:

In [18]:
dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Valor m2']).round(2)
dados

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,53.18
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,100.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,22.69
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,61.79
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,62.23
...,...,...,...,...,...,...,...,...,...,...,...,...
21821,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0,1438.0,12.86,111.82
21822,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0,1175.0,29.63,39.66
21823,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0,2640.0,23.08,114.38
21824,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0,1946.0,29.17,66.71
21825,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0,3760.0,42.86,87.73

Agora, criaremos uma variável que abrigue os tipos de imóvel casa e apartamento, para tanto, devemos coletar a variável Tipo e recolher esses marcadores e indentifica-los. Criaremos uma lista com a identificação das casas, então:

In [24]:
#Vendo ois tipos de residências
list(dados['Tipo'].drop_duplicates())

['Quitinete', 'Casa', 'Apartamento', 'Casa de Condomínio', 'Casa de Vila']

In [25]:
casa = ['Casa de Vila', 'Casa', 'Casa de Condomínio']

Assim feito, criaremos efetivamente a nova variável que chamaremos de Tipo Agregado. Depois, evocaremos dados e passaremos a variável Tipo, seguido do método apply(). Esse método pertmite que apliquemos uma função à cada registro do DataFrame. Para tanto, criaremos uma função lambda : 'lambda x: 'Casa' if x in casa else 'Apartamento'.

In [26]:
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in casa else 'Apartamento')

In [28]:
dados.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,53.18,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,100.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,22.69,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,61.79,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,62.23,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,750.09,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,65.02,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,103.41,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,118.12,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,52.22,Apartamento
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,2301.0,66.67,34.51,Apartamento
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,15803.0,53.50,295.38,Apartamento
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,2000.0,17.39,115.01,Casa
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,1278.0,17.59,72.65,Apartamento
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,2436.0,25.37,96.02,Apartamento
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,2738.0,17.27,158.54,Apartamento
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,10195.0,16.09,633.62,Casa
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,1670.0,14.71,113.53,Apartamento
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,2700.0,25.64,105.30,Apartamento
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,9563.0,56.00,170.77,Apartamento