In [164]:
import pandas as pd

# Series

In [165]:
data = [0,1,2,3,4]

In [166]:
s =pd.Series(data)
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [167]:
index = ['Linha' + str (i) for i in range(5)]

In [168]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [169]:
s = pd.Series(data, index)
s

Linha0    0
Linha1    1
Linha2    2
Linha3    3
Linha4    4
dtype: int64

In [170]:
s = pd.Series(data= data, index= index)
s

Linha0    0
Linha1    1
Linha2    2
Linha3    3
Linha4    4
dtype: int64

In [171]:
data = {'Linha' + str (i) : i + 1 for i in range(5)}
data

{'Linha0': 1, 'Linha1': 2, 'Linha2': 3, 'Linha3': 4, 'Linha4': 5}

In [172]:
s = pd.Series(data)
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [173]:
s1 = s + 2
s1

Linha0    3
Linha1    4
Linha2    5
Linha3    6
Linha4    7
dtype: int64

# <b>DataFrame</b>

In [174]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [175]:
df1 = pd.DataFrame(data= data)
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

#### Criando a estrutura

In [176]:
index = ['Linha' + str(i) for i in range(3)]
index

['Linha0', 'Linha1', 'Linha2']

In [177]:
df1 = pd.DataFrame(data= data, index = index)
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [178]:
columns = ['Coluna' + str(i) for i in range(3)]
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [179]:
df1 = pd.DataFrame(data= data, index = index, columns= columns)
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [180]:
data = {'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
        'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
        'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [181]:
df2 = pd.DataFrame(data)
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

#### Construindo com tuplas

In [182]:
data = [(1,2,3),
        (4,5,6),
        (7,8,9)]

In [183]:
df3 = pd.DataFrame(data= data, index = index, columns= columns)
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

#### Concatenando

In [184]:
df1[df1>0] ='A'
df1

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A

In [185]:
df2[df2 > 1] = 'B'

In [186]:
df2

       Coluna0 Coluna1 Coluna2
Linha0       1       B       B
Linha1       B       B       B
Linha2       B       B       B

In [187]:
df3[df3 > 2 ] = 'C'

In [188]:
df3

       Coluna0 Coluna1 Coluna2
Linha0       1       2       C
Linha1       C       C       C
Linha2       C       C       C

In [189]:
df4 = pd.concat([df1, df2, df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       1       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       1       2       C
Linha1       C       C       C
Linha2       C       C       C

In [191]:
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       1       B       B       1       2       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

# <b>Exercícios</b>

#### Apenas comparar os outputs

In [192]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [193]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [194]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [195]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4