In [1]:
import pandas as pd

In [5]:
#forma de criar index, o mesmo serve para colunas
'l1 l2 l3 l4'.split()

['l1', 'l2', 'l3', 'l4']

In [2]:
data = [(1, 2, 3, 4),
        (5, 6, 7, 8),
        (8, 10, 11, 12),
        (13, 14, 15, 16)]
df = pd.DataFrame(data, 'l1 l2 l3 l4'.split(), 'c1 c2 c3 c4'.split())

In [4]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [7]:
df['c1']

l1     1
l2     5
l3     8
l4    13
Name: c1, dtype: int64

In [8]:
df[['c1', 'c2']]

    c1  c2
l1   1   2
l2   5   6
l3   8  10
l4  13  14

In [10]:
df[:]

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [11]:
df[1:]

    c1  c2  c3  c4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [12]:
#linha 1 até o final | Colunas 1 e 2
df[1:][['c1', 'c2']]

    c1  c2
l2   5   6
l3   8  10
l4  13  14

In [16]:
df

    c1  c2  c3  c4
l1   1   2   3   4
l2   5   6   7   8
l3   8  10  11  12
l4  13  14  15  16

In [15]:
df.loc['l3']

c1     8
c2    10
c3    11
c4    12
Name: l3, dtype: int64

In [17]:
df.loc[['l3','l4']]

    c1  c2  c3  c4
l3   8  10  11  12
l4  13  14  15  16

In [18]:
#linha coluna
df.loc['l3', 'c1']

8

In [22]:
#pelo i loc passa o indice numérico
df.iloc[2,0]

8

In [26]:
df.loc[['l1', 'l3'], ['c2','c3']]

    c2  c3
l1   2   3
l3  10  11

In [28]:
df.iloc[[0, 2], [1,2]]

    c2  c3
l1   2   3
l3  10  11