# 1

In [3]:
import pandas as pd

In [7]:
dados = pd.DataFrame({'Profissão': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})

In [10]:
frequencia = dados['Profissão'].value_counts()
percentual = dados['Profissão'].value_counts(normalize = True) * 100
dist_freq_qualitativas = pd.DataFrame({'Frequência': frequencia, 'Porcentagem (%)': percentual})
dist_freq_qualitativas.rename(index = {1: 'Estatístico', 2: 'Cientista de Dados', 3: 'Programador Python'}, inplace = True)
dist_freq_qualitativas.rename_axis('Profissão', axis= 'columns', inplace = True)
dist_freq_qualitativas

Profissão           Frequência  Porcentagem (%)
Cientista de Dados           5        41.666667
Programador Python           4        33.333333
Estatístico                  3        25.000000

# 2 
Quando construímos distribuições de frequências com variáveis quantitativas, precisamos, na maior parte dos casos, definir as classes em que desejamos agrupar os nossos dados. O pandas nos oferece a função cut() para realizar esta tarefa.

Analise o seguinte código:

In [13]:
dados =  pd.read_csv('dados/dados.csv')

In [14]:
classes = [dados.Altura.min(), 1.65, 1.75, dados.Altura.max()]
labels = ['1 - Baixa', '2 - Média', '3 - Alta']

frequencia = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    )
)

percentual = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    ), normalize = True
) * 100

dist_freq_altura = pd.DataFrame(
    {'Frequência': frequencia, 'Porcentagem (%)': percentual}
)

dist_freq_altura.rename_axis('Estaturas', axis= 'columns', inplace = True)

dist_freq_altura.sort_index(ascending = True, inplace = True)

dist_freq_altura

Estaturas  Frequência  Porcentagem (%)
1 - Baixa       20529        26.716554
2 - Média       36162        47.061426
3 - Alta        20149        26.222020

# 4 
Obtenha a média aritmética do data frame.

Observação: Na variável Sexo, 'H' representa os homens e 'M' as mulheres.

In [16]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [23]:
dataset.groupby('Sexo').mean().loc['H']

Idade    45.75
Name: H, dtype: float64

# 3
Observação: Na variável Sexo, 'H' representa os homens e 'M' as mulheres.

Assinale a alternativa que apresenta o valor do desvio padrão da variável Idade.

In [4]:
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})

In [5]:
dataset.std()

C:\Users\marcu\AppData\Local\Temp\ipykernel_5312\178401259.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.std()

Idade    14.18489
dtype: float64

#### Desvio padrão somente para mulheres

In [6]:
dataset.head()

  Sexo  Idade
0    H     53
1    M     72
2    M     54
3    M     27
4    M     30

In [21]:
dataset.groupby(['Sexo']).std().loc['M']

Idade    14.18489
Name: M, dtype: float64